*{
  /* box-sizing: border-box; */
  font-family:candara;
}

.hero{
  text-align: center;
  background-color:  #3B3B46;
  color: #4BC7F5;
}

.grandentrance{
  text-align: center;
}

.homies{
  color: #4BC7F5;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.linkbar{
  text-align: center;
  color: black;
}

.about{
  color: white;
  text-decoration: none;
}

.poems{
  color: white;
  text-decoration: none;
}

.content{
  color: white;
  text-decoration: none;
}

.shop{
  color: white;
  text-decoration: none;
}
/*about section*/

.aboutit{
  text-align: center;
  background-color:  #3B3B46;
  color: #4BC7F5;
}

.banter{
  color: white;
  text-align: center;
}

.emailink{
  color: white;
  text-decoration: none;
}

.instalink{
  color: white;
  text-decoration: none;
}

/*poems section*/

.poemsbby{
  text-align: center;
  background-color:  #3B3B46;
  color: #4BC7F5;
}

.poemz{
  color: white;
  text-decoration: none;
}

/*content section*/

.contento{
  text-align: center;
  background-color:  #3B3B46;
  color: #4BC7F5;
}

/*shop section*/

.tilyoudrop{
  text-align: center;
  background-color:  #3B3B46;
  color: #4BC7F5;
}
