*{
  /* box-sizing: border-box; */
  font-family:candara;
}

.hero{
  background-color:  #666699;
  color: white;
}

.grandentrance{
  text-align: center;
}

.homies{
  color: white;

}

.linkbar{
  text-align: center;
  color: black;
}

/*about section*/

.about{
  color: white;
}
.aboutit{
  text-align: center;
  background-color:  #666699;
  color: white;
}

.poems{
  color: white
}

.content{
  color: white
}

.shop{
  color: white
}

/*poems section*/

.poemsbby{
  text-align: center;
  background-color:  #666699;
  color: white;
}
