*{
  /* box-sizing: border-box; */
  font-family:"Goudy Bookletter 1911", sans-serif;
}

a:hover {
  color: #96816E;
}
.hero{
  text-align: center;
  background-color:  #3B3B46;
  color: #4BC7F5;

}

.grandentrance{
  text-align: center;
  background-color: #96816E;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-shadow: 2px 2px #3B3B46;
  border-style: ridge;
  border-color: #4BC7F5;
  border-width: medium;
  border-radius: 20px;
}

@media (max-width:444px) {
  h1{
    font-size: 140%;
  }
  h2{
    font-size: 120%;
  }
}

a.homies:hover {
  color: #3B3B46 !important;
}

.homies{
  color: #4BC7F5;
  text-decoration: none;
}

.linkbar{
  text-align: center;
  color: white;
  padding-top: 20px;
}

.about{
  color: white;
  text-decoration: none;
}

.poems{
  color: white;
  text-decoration: none;
}

.content{
  color: white;
  text-decoration: none;
}

.shop{
  color: white;
  text-decoration: none;
}
/*about section*/

.aboutit{
  text-align: center;
  background-color:  #3B3B46;
  color: #4BC7F5;
}

.banter{
  color: white;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.reach{
  width: 200px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.emailink{
  color: white;
  text-decoration: none;
  font-size: 125%;
}

.anotherdiv{
  padding-top: 20px;
}
.instalink{
  color: white;
  text-decoration: none;
}

.iglogo{
  width: 50px;

}

/*poems section*/

.poemsbby{
  text-align: center;
  background-color:  #3B3B46;
  color: #4BC7F5;
}

.poemz{
  color: white;
  text-decoration: none;
}

.poemlinx{
  line-height: 200%;
}

@media (max-width:380px) {
  .glimpse{
    font-size: 83%;
  }
}

/*content section*/

.contento{
  text-align: center;
  background-color:  #3B3B46;
  color: #4BC7F5;
}

/*shop section*/

.tilyoudrop{
  text-align: center;
  background-color:  #3B3B46;
  color: #4BC7F5;
}
